@import "tailwindcss";

:root {
  --color-primary: #800000;
  --color-primary-hover: #600000;
  --color-primary-light: #fff5f5;
}

@theme {
  --color-primary: #800000;
  --color-primary-hover: #600000;
  --color-primary-light: #fff5f5;
  --color-maroon-900: #400000;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
}
